* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    width: 100vw;
    height: 100vh;
}

.time {
    background-color: rgba(12, 12, 12);
    color: #fff;
    border: 20px solid rgba(255, 252, 252);
    padding: 20px;
    text-align: center;
    width: 500px;
}

.hms {
    font-size: 60px;
    font-weight: bolder;
    display: inline;
}

.ampm {
    font-size: 25px;
    display: inline;
    padding-left: 10px;
}

.date {
    font-size: 20px;
}